DB_HOST=db_host
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=password
DB_DATABASE=easy_largescreen


# 七牛云
QINIU_ACCESS_KEY=1111
QINIU_SECRET_KEY=1111
QINIU_BUCKET=ysansan
QINIU_EXPIRES=7200
QINIU_DOMAIN=111